span{
    color:rgb(173, 194, 12);
}
*{
    background-color: grey;
    color:white
}
p.solid{
    border-style: solid;
    border-width: 2px;  
}
h1,h2{
    color:blue;
    font-weight: bold;
}
.about img
{
width: 300px;
height: 300px;

}